# Python Variables

- Variables are containers for holding values
- Variables are created by assigning a value to a particular name

In [6]:
x = 5
y = "Hello, World"
x, print(y)

Hello, World

(5, None)

## Rules for variable naming in Python
- A variable must start with a letter or underscore character
- A variable name cannot start with a number but can contain numbers or characters in it.
- Variable names are case sensitive

In [11]:
#Valid variable names
myname = "Ridwan"
my_name = "Ridwan"
_my_name = "Ridwan"
myName = "Ridwan"
MYNAME = "Ridwan"
myname1 = "Ridwan"

NameError: name 'my' is not defined

In [10]:
#invalid variable names
2myname = "Ridwan"
my-name = "Ridwan"
my name = "Ridwan"
my.name = "Ridwan"
.myName = "Ridwan"

SyntaxError: invalid decimal literal (253174296.py, line 2)

## Data types

### Numbers

In [ ]:
1 + 1

In [ ]:
1 * 3

In [ ]:
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes"

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

In [ ]:
?print

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

### Lists
* Lists are data structures which are mutable or changeagble and contains sequence of elements. 
* A list can be used to store different data types.

In [ ]:
[1,2,3]

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[1:]

In [ ]:
my_list[:1]

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

### Dictionaries

A dictionary is like a python container that stores mappings of unique key values.

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
d['key1']

### Booleans

These are logical statements used in python

In [ ]:
True

In [ ]:
False

In [ ]:
1 == 1

In [ ]:
2 == "d"

### Tuples 

* Tuples are data structures used to store multiple items in a single variable.
* Tuples does not support item assignment hence unlike lists, they are unchangeable.

In [ ]:
t = (3,2,3)

In [ ]:
t[0]

In [ ]:
t[0] = "NEW"

### Sets

Sets are used to store multiple items in a single variable

In [ ]:
{1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

## range()

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

## functions

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param')

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

In [ ]:
range

## methods

Methods are simply functions that are applied to objects.

In [ ]:
st = 'hello my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
dir(st)

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop(0)

In [ ]:
?pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

## You can't do it alone you need help!

In [ ]:
?list

In [ ]:
?list.append

In [ ]:
?list.pop


## Installing Intellisense for Autocomplete


Type the following steps in the Anaconda command terminal:

* First install the jupyter contrib nbextensions by executing the following command in the terminal:    
  `pip install jupyter_contrib_nbextensions`
* Install the CSS and js files for the jupyter enviroment by using the following command:  
  `juypyter contrib nbextension install --user`
* In the last step you need to enable the `hiterland` extension:  
  `jupyter nbextension enable hinterland/hinterland`

# Great Job!